.small{
	width: 150px;
  height: 150px;
}

.title{
  visibility: hidden;
}

.prev{
  left: 40px !important;
}

.next{
  right: 40px !important;
}

.links{
  width: 300px;
  margin-left: auto; 
  margin-right: auto;
}


@media screen and (min-width: 450px) {
    .links {
        width: 450px;
    }
}

@media screen and (min-width: 600px) {
    .links {
        width: 600px;
    }
}

@media screen and (min-width: 750px) {
    .links {
        width: 750px;
    }
}

@media screen and (min-width: 900px) {
    .links {
        width: 900px;
    }
}

@media screen and (min-width: 1050px) {
    .links {
        width: 1050px;
    }
}

@media screen and (min-width: 1200px) {
    .links {
        width: 1200px;
    }
}

@media screen and (min-width: 1500px) {
    .links {
        width: 1500px;
    }
}

@media screen and (min-width: 1800px) {
    .links {
        width: 1800px;
    }
}

